.option {
    width: 100%;
    background-color: #121212;
    margin-top: -15px;
    position: absolute;
    z-index: 100;
}

.option-detail {
    padding: 5px 15px 5px 15px;

    &:hover {
        background-color: #3e3e3e;
    }
}

.btn-option {
    height: 35px;
    margin-top: 10px;
    background-color: #144883;
    border: 1px solid #3e3e3e;
    color: #ffffff;
}

.btn-trash {
    cursor: pointer;

    &:hover {
        transition: 0.3s;
        color: #144883;
    }
}

.modal-select {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: transparent;
}